* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button, select {
    padding: .2rem .4rem;
}

section {
    background-color: aquamarine;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}

div.grid-wrapper {
    width: 550px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.square {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-light-blue {
    background-color: #7fbfff;
}

.bg-red {
    background-color: #f94343;
}